force-app/main/default/flows/AtribuiCatalogodePre_o.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>OpenScreen</name>
        <label>OpenScreen</label>
        <locationX>182</locationX>
        <locationY>1430</locationY>
        <actionName>c:redirectProductScreen</actionName>
        <actionType>component</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>recordId</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>57.0</apiVersion>
    <assignments>
        <name>AtribuiCatalogoPadrao</name>
        <label>AtribuiCatalogoPadrao</label>
        <locationX>182</locationX>
        <locationY>518</locationY>
        <assignmentItems>
            <assignToReference>pricebookIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ObterCatalogoPadrao.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TodosCatalogos</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiIdPricebook</name>
        <label>AtribuiIdPricebook</label>
        <locationX>270</locationX>
        <locationY>758</locationY>
        <assignmentItems>
            <assignToReference>pricebookIdSet</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>TodosCatalogos.CatalogoDePreco__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>TodosCatalogos</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>VerificaPricebook</name>
        <label>VerificaPricebook</label>
        <locationX>182</locationX>
        <locationY>974</locationY>
        <defaultConnector>
            <targetReference>OpenScreen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Contem_catalogo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ObterQuote.Pricebook2Id</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Preencher_Catalogo_de_Pre_o</targetReference>
            </connector>
            <label>Não Contem catalogo?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>AtribuiCatalogodePreço {!$Flow.CurrentDateTime}</interviewLabel>
    <label>AtribuiCatalogodePreço</label>
    <loops>
        <name>TodosCatalogos</name>
        <label>TodosCatalogos</label>
        <locationX>182</locationX>
        <locationY>638</locationY>
        <collectionReference>ObterCatalogoConta</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>AtribuiIdPricebook</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>VerificaPricebook</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <name>ObterCatalogoConta</name>
        <label>ObterCatalogoConta</label>
        <locationX>182</locationX>
        <locationY>278</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterCatalogoPadrao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Conta__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ObterQuote.AccountId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>ContaXCatalogoDePreco__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterCatalogoPadrao</name>
        <label>ObterCatalogoPadrao</label>
        <locationX>182</locationX>
        <locationY>398</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>AtribuiCatalogoPadrao</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>IsStandard</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Pricebook2</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>ObterQuote</name>
        <label>ObterQuote</label>
        <locationX>182</locationX>
        <locationY>158</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ObterCatalogoConta</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Quote</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>UpdateQuote</name>
        <label>UpdateQuote</label>
        <locationX>50</locationX>
        <locationY>1214</locationY>
        <connector>
            <targetReference>OpenScreen</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Pricebook2Id</field>
            <value>
                <elementReference>PricebookField.recordId</elementReference>
            </value>
        </inputAssignments>
        <object>Quote</object>
    </recordUpdates>
    <screens>
        <name>Preencher_Catalogo_de_Pre_o</name>
        <label>Preencher Catalogo de Preço</label>
        <locationX>50</locationX>
        <locationY>1094</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>UpdateQuote</targetReference>
        </connector>
        <fields>
            <name>TExtInput</name>
            <fieldText>&lt;p&gt;Preencha o campo de Catalogo de preço para prosseguir para a tela de preenchimento da cotação/oportunidade&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>PricebookField</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Pricebook2Id</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Quote</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Catalogo de Preço</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>required</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordIds</name>
                <value>
                    <elementReference>pricebookIdSet</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <nextOrFinishButtonLabel>Criar Itens</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>ObterQuote</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>pricebookIdSet</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
