force-app/main/default/flows/CPQCreateAcessoryType.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>AtribuiCombo</name>
        <label>AtribuiCombo</label>
        <locationX>50</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TipoAcessorio.ComboAcessorios__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarTipoAcessorio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiGrupo</name>
        <label>AtribuiGrupo</label>
        <locationX>314</locationX>
        <locationY>458</locationY>
        <assignmentItems>
            <assignToReference>TipoAcessorio.GrupoAcessorio__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>relatedId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CriarTipoAcessorio</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>AtribuiTipoAcessorio</name>
        <label>AtribuiTipoAcessorio</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <assignmentItems>
            <assignToReference>TipoAcessorio.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>RecordTypeId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isComboCheck</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isComboCheck</name>
        <label>isCombo</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <defaultConnector>
            <targetReference>AtribuiGrupo</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Resultado padrão</defaultConnectorLabel>
        <rules>
            <name>Combo</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>isCombo</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>AtribuiCombo</targetReference>
            </connector>
            <label>Combo?</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>[CPQ] - CreateAcessoryType {!$Flow.CurrentDateTime}</interviewLabel>
    <label>[CPQ] - CreateAcessoryType</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CriarTipoAcessorio</name>
        <label>CriarTipoAcessorio</label>
        <locationX>182</locationX>
        <locationY>650</locationY>
        <inputReference>TipoAcessorio</inputReference>
    </recordCreates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <name>CriarAcessorio</name>
        <label>CriarAcessorio</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AtribuiTipoAcessorio</targetReference>
        </connector>
        <fields>
            <name>CriarAcessorio_Section1</name>
            <fieldType>RegionContainer</fieldType>
            <fields>
                <name>CriarAcessorio_Section1_Column1</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TipoAcessorio.Produto__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TipoAcessorio.AcessorioPadrao__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <fields>
                <name>CriarAcessorio_Section1_Column2</name>
                <fieldType>Region</fieldType>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TipoAcessorio.QuantidadeSugerida__c</objectFieldReference>
                </fields>
                <fields>
                    <fieldType>ObjectProvided</fieldType>
                    <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
                    <isRequired>false</isRequired>
                    <objectFieldReference>TipoAcessorio.Ativo__c</objectFieldReference>
                </fields>
                <inputParameters>
                    <name>width</name>
                    <value>
                        <stringValue>6</stringValue>
                    </value>
                </inputParameters>
                <isRequired>false</isRequired>
            </fields>
            <isRequired>false</isRequired>
            <regionContainerType>SectionWithoutHeader</regionContainerType>
        </fields>
        <nextOrFinishButtonLabel>Criar</nextOrFinishButtonLabel>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>CriarAcessorio</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>isCombo</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>RecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>relatedId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>TipoAcessorio</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>TipoAcessorios__c</objectType>
    </variables>
</Flow>
